<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Stock View</h1>
	</div>	
	<div class="panel-body">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Item ID</th>
					<th>Item Name</th>
					<th>Item Price</th>
					<th>Item Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of items | async">
					<form (ngSubmit)="formSubmit()">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td><input [(ngModel)]="item.price" type="number" name="price"></td>
						<td><input [(ngModel)]="item.quantity" type="number" name="quantity"></td>
					</form>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
